@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-150 ease-out;
  }

  body {
    @apply bg-fem-light text-fem-blue-800 dark:bg-fem-blue-800 dark:text-white;
  }
  th {
    font-weight: inherit;
  }
}

@layer components {
  .muted-heading {
    @apply text-[0.8125rem] leading-none text-fem-blue-300 dark:text-fem-blue-200;
  }

  .button {
    @apply rounded-3xl  px-[1.6em] py-[1em] text-heading-s-variant;
  }
  .button.muted {
    @apply bg-fem-blue-100 text-fem-blue-300 focus-within:bg-fem-blue-200 hover:bg-fem-blue-200 dark:bg-fem-blue-500 dark:text-fem-blue-200 dark:focus-within:bg-fem-light dark:focus-within:text-fem-blue-300 dark:hover:bg-fem-light dark:hover:text-fem-blue-300;
  }

  .button.accent {
    @apply bg-fem-violet-400 text-white focus-within:bg-fem-violet-300 hover:bg-fem-violet-300;
  }

  .button.danger {
    @apply bg-fem-red-400 text-white focus-within:bg-fem-red-300 hover:bg-fem-red-300;
  }

  .button.secondary {
    @apply bg-[#373B53] text-fem-blue-400 focus-within:bg-fem-blue-800 hover:bg-fem-blue-800 dark:text-fem-light dark:focus-within:bg-fem-blue-700 dark:hover:bg-fem-blue-700;
  }

  input,
  select {
    @apply block w-full rounded border border-fem-blue-200 bg-transparent px-5 py-4 text-heading-s-variant caret-fem-violet-400 focus-visible:outline-1 focus-visible:outline-fem-violet-400 dark:border-fem-blue-500 dark:bg-fem-blue-700;
  }

  label:has(+ :is(input:disabled)) {
    @apply opacity-50;
  }

  input:disabled {
    @apply opacity-50;
  }

  input[type="number"] {
    appearance: textfield;
  }

  .input-label {
    @apply muted-heading block dark:text-fem-blue-400;
  }

  .warning {
    @apply text-[0.8125rem] font-medium leading-none text-fem-red-400 dark:text-fem-red-300;
  }
}

@layer utilities {
  .button:disabled {
    @apply cursor-default bg-fem-blue-100 text-fem-blue-400 opacity-60 focus-within:bg-fem-blue-100 hover:bg-fem-blue-100 dark:bg-fem-blue-500  dark:focus-within:bg-fem-blue-500 dark:hover:bg-fem-blue-500;
  }

  .heading-placeholder {
    @apply text-heading-s-variant font-medium text-fem-blue-400 opacity-70;
  }

  .input-warning {
    @apply border-fem-red-400 dark:border-fem-red-300;
  }

  .toast {
    left: 0;
  }
}
